:root {
    --kanban-width: 1000px;
}

.kanban {
    margin: 0 auto;
    padding: 25px 0;
    background-color: #107ABB;
    width: var(--kanban-width);
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    border-radius: 20px;

    font: bold 20pt 'Roboto', sans-serif;
}

.column {
    background-color: #DEE2E5;
    width: calc(var(--kanban-width) / 4);
    border-radius: 20px;
    padding: 20px;

    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-content: stretch;
}

.btn-add-task {
    font-size: 12pt;
    color: #294555;

    cursor: pointer;
}

.control-create-card {
    font-size: 12pt;
    color: #294555;

    bottom: 20px;
}

.btn-add-task::before {
    content: "+";
    margin-right: 5px;
}

.control-title {
    color: #294555;
    padding-bottom: 10px;
}

.column-title {
    color: #294555;
    padding-bottom: 10px;
}

.task-list {
    display: flex;
    flex-direction: column;

    height: 100%;
}

.task {
    background: white;
    border-radius: 5px;

    font-size: 10pt;
    padding: 15px;
    margin-bottom: 10px;

    display: flex;
    justify-content: space-between;
}

.task.dragged {
    position: absolute;
    z-index: 999;
    pointer-events: none;

    min-width: 220px;
    max-width: 220px;

    transform: rotate(5deg);
}

.task-content {
    display: block;
    width: 100%;
    word-wrap: break-word;
}

.task-remove {
    cursor: pointer;

    right: 10px;
    top: 10px;
}

.hide {
    display: none;
}

.create {
    bottom: 30px;
}

.task-create {
    width: 100%;
}

.create-card-controls {
    width: 100px;
    height: 30px;
}

.task-create {
    width: 100%;
}

.task-create-textarea {
    resize: none;
    border: none;
    outline: none;

    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}


.task-remove::before {
    content: "+";
    display: inline-block;
    transform: rotate(45deg);
}

button {
    cursor: pointer;
}

.clone {
    background: #b04444 !important;
    box-shadow: none !important;
    color: #dddddd !important;
    pointer-events: none !important;
}